
body {
    font-family: "Roboto", sans-serif;
    height: 100%;
    width: 100%;
}
/* @media all and (min-width: 0px) {
    body {
       font-size: 3px;
    }
    }
@media all and (min-width: 320px) {
    body {
       font-size: 6px;
    }
    } */
/* Dành cho máy tính bảng chiều dọc */
@media all and (min-width: 600px) {
    body {
        font-size: 10px;
     }
}
 
/* Dành cho máy tính bảng chiều ngang */
@media all and (min-width: 1024px) {
    body {
        font-size: 12px;
     }
}
 
/* Dành cho màn hình desktop */
@media all and (min-width: 1280px) {
    body {
        font-size: 14px;
     }
}
 a, a:hover, a:focus {
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      text-decoration: none;
      outline: 0 solid transparent; }  
.div1{
    margin-left: 2%;
}
.search{
    padding: .5rem 1rem;
}
.collapse > ul > li:hover > div.layer2a ,
.collapse > ul > li:hover > div.layer2b,
.collapse > ul > li:hover > div.layer2c,
.collapse > ul > li:hover > div.layer2d,
.collapse > ul > li:hover > div.layer2e,
div.user-dropdown{
    top: 47px;
}
.collapse > ul > li >a.menu:hover{
    padding-top: 10px;
    padding-bottom: 18px;
}
.navpadding{
    padding-top: 10px;
    padding-bottom: 18px;
}
.collapse > ul > li >a.menu{
    padding-top: 14px; 
    padding-bottom: 14px;
}
.nav-item{
    padding-left: 10px;
    padding-right: 10px;
}
.carousel-caption h5{
    text-shadow: 5px 5px 15px black;
}
.carousel-caption p{
    font-size: 200%;
    text-shadow: 3px 3px 10px black;
}
.wellcom hr{
    border-top: 2px solid rgb(168, 168, 230);
    margin-bottom: 2rem;
}
.divtotal{
    display:flex;
    position: relative;
}
.divtotal1{
    margin-left: 9%;
    margin-right: 9%;
    margin-top:4%;
    display:flex;
    position: relative;
}
.flUs{
    color: #343a40;
}
.followUs{
    padding: 2% 5%;
}
.followUs a{
    
    padding: 0% 2%;

}
.followUs a.fb{
    color: #4267b2;
}
.followUs a.twit{
    color: #38A1F3;
}
.followUs a.linked{
    color: #0077B5;
}
.followUs a.ggplus{
    color: #d34836;
}
.followUs a.youtube{
    color: #ED3833;
}
.div1{
    margin-left: 5%;
}
.div2{
    margin-top: 25px;
}
.news-area{
    position: relative;
}

.news-area .title1{
    text-align: center;
    width: 19%;
    margin-left:0;
    background-color: #ffc107;
}
     
.news-area .title1 p{
    margin-bottom: 0;
    font-weight: 550;
    color: #fff;
}
.news-area .title2{
    text-align: center;
    width: 19%;
    margin-left:0;
    background-color: #343a40;
}
.news-area .title2 p{
    margin-bottom: 0;
    font-weight: 550;
    color: #fff;  
}
.vticker{
    width: 100%;
    position: relative;
    background-color: #f3f5f8;
}
.vticker ul{
   width:100%;
    position: relative;
}
 .vticker ul li{
	list-style: none;
    width: 100%;
}
 .vticker ul li a{
    color: #343a40;
    font-weight: 550;
}
.vticker ul li a:hover, .div1 .vticker ul li a:focus{
    color: #ffc107;
}
/* Section Heading */
.section-heading {
    margin-top: 50px;
    position: relative;
    z-index: 1;
    border-bottom: 1px solid #d0d5d8; }
.section-heading h6 {
    margin-bottom: 0;
    background-color: #ffc107;
    color: #fff;
    display: inline-block;
    text-align: center; 
}
.section-heading.dark-style h6{
    background-color: #343a40;
}
.section-heading.dark-style {
    margin-top: 0px;
}
.post-thumb{
    margin-top: 20px;    
    width: 100%;
    position: relative; 
    overflow: hidden;
}
.img-container {
    width:100%;
    transition: transform .50s ease;
  }
  
  .img-container:hover {
    transform: scale(1.1);
  }
  .slideimg{
    width: 100%;    
  }
  
  
  .post-thumb img {
      width:100%;
    opacity: 1;
    transform: translate(0,0);
    transition: opacity .25s ease-in-out;
  }
  .post-thumb img:hover {
    opacity: .8;
  }

.post-category i, .post-title i{
    margin-left: 10px;
    float:right;
    color: rgb(146, 143, 143);
     
}
.post-category span, .post-title span{
    float: right;
    margin-left: 8px;
    color: rgb(146, 143, 143);
    display: flex; 
}
.post-category a{
    text-transform: uppercase;
    font-weight: 700;
    color: #ffc107;
}
.post-title h6{
    color: #343a40;
}
.post-title h6:hover, .post-title h6:focus{
    color: #ffc107;
}
.div3{
    display:flex;
}

.post-title h4{
    color: #343a40;
}
.post-title h4:hover, .post-title h4:focus{
    color: #ffc107;
}

a.post-title{
    color: #343a40;
    font-weight: 550;
}
a.post-title:hover, a.post-title:focus{
    color: #ffc107;
}
.marr {
    margin-right: 2%;
}
.marl{
    margin-left: 2%;
}
.div4{
    width:73%;
    margin-left:0%;
}
@media all and (min-width: 0px) {
    .divtotal{
        margin-left: 2%;
        margin-right: 2%;
        margin-top:19%;
    }
    .slideimg img{
        height: 125px;
    }
    h3.h3-carousel a{
        font-size: 6px;
    }
    h3{
        font-size: 6px;
    }
    .category-carousel{
        padding: 1px 2px;
        font-size: 3px;
        width: 32px;
        
    }
    .slideimg .time{   
        margin-left: 132px;
        margin-top: 1px;
    }
    .slideimg span{
        margin-left: 2px;
        font-size: 3px;
    }
    .slideimg i{
        margin-left: 2px;
    }
    .div5 .top10Categories h6 {
       font-size: 4px;
    }
    .singlepost.another-style .post-thumb{
        width: 50px;
        flex: 0 0 50px;
    }
    h5{
        font-size: 5px;
    }
    .video img{
        height: 50px;
        width: 100%
    }
    .contact h6{
        font-size: 7x;
    }
    .contact p{
        padding: 5px 0px;
    }
    .contact input, .contact input:focus{
        padding: 5px 5px;
        margin-bottom:5px;
    }
    .contact ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-size: 4px;   
      }
      
      .contact  :-ms-input-placeholder { /* Internet Explorer 10-11 */
        font-size: 4px;  
      }
      
      .contact ::-ms-input-placeholder { /* Microsoft Edge */
        font-size: 4px;  
      }
      .contact button{
          margin-top: 1px;
      }
    .post-title h6{
        font-size: 4px;
    }
    .div3{
        margin-left: 2%;
        margin-right: 2%;
    }
    .top10Categories{
        top: 30%;
    }
    .top10{
        padding-top:3%;
    }
    .section-heading h6 {
        font-size: 4px;
        line-height: 11px;
         height: 11px;
        padding: 0 7px;
        font-weight: 550
    }
    .post-thumb.img-300 img{
        height: 120px;
      }
      .post-thumb.img-90 img{
        height: 22px;
      }
      .post-thumb.img-200 img{
        height: 120px;
      }
      .post-thumb.img-250 img{
        height: 62px;
      }
      .post-thumb.img-200-2 img{
        height: 50px;
        width: 50px;
      }
      .post-thumb.img-300-2 img{
        height: 75px;
      }
      .post-title h4{
        font-size: 5px;
    }
    .post-title p{
        font-size: 3px;
    }
    .singlepost .post-thumb{
        width: 22x;
        flex: 0 0 22px;
      }
      .singlepost .post-title p{
        font-size: 7px;
      }
      .post-category {  
        padding-top: 3px;  
        padding-bottom: 3px;  
        
    }
    .post-category span, .post-category i{
        font-size: 3px;
    }
    .news-area .title1{
        padding: 0 5px;
        height: 9px;
    }      
    .news-area .title1 p{
        line-height: 9px;   
    }
    .news-area .title2{
        height: 9px;
        padding: 0 5px;
    }
    .news-area .title2 p{
        line-height: 9px;   
    }
    .vticker{
        padding: 0 5px;
    }
    .vticker ul li a{
        height: 9px;
        line-height: 9px;
    }
    .flUs{
        font-size: 5px;
        font-weight: 550;
    }
}
@media all and (min-width: 320px) {
    .divtotal{
        margin-left: 4%;
        margin-right: 4%;
        margin-top:13%;
    }
    .slideimg img{
        height: 250px;
    }
    h3.h3-carousel a{
        font-size: 12px;
    }
    h3{
        font-size: 13px;
    }
    .category-carousel{
        padding: 1px 3px;
        font-size: 6px;
        width: 65px;
        
    }
    .slideimg .time{   
        margin-left: 265px;
        margin-top: 1px;
    }
    .slideimg span{
        margin-left: 4px;
        font-size: 6px;
    }
    .slideimg i{
        margin-left: 5px;
    }
    .div5 .top10Categories h6 {
       font-size: 7px;
    }
    .singlepost.another-style .post-thumb{
        width: 100px;
        flex: 0 0 100px;
    }
    h5{
        font-size: 10px;
    }
    .video img{
        height: 100px;
        width:100%;
    }
    .contact h6{
        font-size: 20px;
    }
    .contact p{
        padding: 10px 0px;
    }
    .contact input, .contact input:focus{
        padding: 10px 10px;
        margin-bottom:10px;
    }
    .contact ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-size: 7px;   
      }
      
      .contact  :-ms-input-placeholder { /* Internet Explorer 10-11 */
        font-size: 7px;  
      }
      
      .contact ::-ms-input-placeholder { /* Microsoft Edge */
        font-size: 7px;  
      }
      .contact button{
          margin-top: 2px;
      }
    .post-title h6{
        font-size: 9px;
    }
    .div3{
        margin-left: 4%;
        margin-right: 4%;
    }
    .top10Categories{
        top: 25%;
    }
    .top10{
        padding-top:3%;
    }
    .section-heading h6 {
        font-size: 8px;
        line-height: 23px;
         height: 23px;
        padding: 0 15px;
        font-weight: 550;
    }
    .post-thumb.img-300 img{
        height: 195px;
      }
      .post-thumb.img-90 img{
        height: 45px;
      }
      .post-thumb.img-200 img{
        height: 190px;
      }
      .post-thumb.img-250 img{
        height: 125px;
      }
      .post-thumb.img-200-2 img{
        height: 100px;
        width:100px;
      }
      .post-thumb.img-300-2 img{
        height: 150px;
      }
      .post-title h4{
        font-size: 11px;
    }
    .post-title p{
        font-size: 7px;
    }
      .singlepost .post-thumb{
        width: 45px;
        flex: 0 0 45px;
      }
      .singlepost .post-title p{
        font-size: 7px;
      }
      .post-category {  
        padding-top: 7px;  
        padding-bottom: 7px;  
    }
    .post-category span, .post-category i{
        font-size: 7px;
    }
    .news-area .title1{
        padding: 0 10px;
        height: 19px;
    }      
    .news-area .title1 p{
        line-height: 19px;   
    }
    .news-area .title2{
        height: 19px;
        padding: 0 10px;
    }
    .news-area .title2 p{
        line-height: 19px;   
    }
    .vticker{
        padding: 0 10px;
    }
    .vticker ul li a{
        height: 19px;
        line-height: 19px;
    }
    .flUs{
        font-size: 10px;
        font-weight: 550;
    }
}   
/* Dành cho máy tính bảng chiều dọc */
@media all and (min-width: 600px) {
    .divtotal{
        margin-left: 6%;
        margin-right: 6%;
        margin-top:10%;
    }
    .slideimg img{
        height: 375px;
    }
    h3.h3-carousel a{
        font-size: 19px;
    }
    h3{
        font-size: 19px;
    }
    .category-carousel{
        padding: 2px 5px;
        font-size: 10px;
        width: 97px;
        
    }
    .slideimg .time{   
        margin-left: 397px;
        margin-top: 2px;
    }
    .slideimg span{
        margin-left: 6px;
        font-size: 10px;
    }
    .slideimg i{
        margin-left: 7px;
    }
    .div5 .top10Categories h6 {
        font-size: 12px;
    }
    .singlepost.another-style .post-thumb{
        width: 150px;
        flex: 0 0 150px;
    }
    h5{
        font-size: 15px;
    }
    .video img{
        height: 150px;
        width:100%
    }
    .contact h6{
        font-size: 21px;
    }
    .contact p{
        padding: 15px 0px;
    }
    .contact input, .contact input:focus{
        padding: 15px 15px;
        margin-bottom:15px;
    }
    .contact ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-size: 11px;   
      }
      
      .contact  :-ms-input-placeholder { /* Internet Explorer 10-11 */
        font-size: 11px;  
      }
      
      .contact ::-ms-input-placeholder { /* Microsoft Edge */
        font-size: 11px;  
      }
      .contact button{
          margin-top: 4px;
      }
    .post-title h6{
        font-size: 13px;
    }
    .div3{
        margin-left: 6%;
        margin-right: 6%;
    }
    .top10Categories{
        top: 15%;
    }
    .top10{
        padding-top:6%;
    }
    .section-heading h6 {
        font-size: 12px;
        line-height: 34px;
         height: 34px;
        padding: 0 23px;
        font-weight: 550;
    }
    .post-thumb.img-200-2 img{
        height: 150px;
        width:150px;
      }
      .post-thumb.img-300-2 img{
        height: 225px;
      }
    .post-thumb.img-300 img{
        
        height: 263px;
      }
      .post-thumb.img-90 img{
        height: 67px;
      }
      .post-thumb.img-200 img{
        height: 150px;
      }
      .post-thumb.img-250 img{
        height: 187px;
      }
      .post-title h4{
        font-size: 17px;
    }
    .post-title p{
        font-size: 11px;
    }
      .singlepost .post-thumb{
        width: 67px;
        flex: 0 0 67px;
      }
      .singlepost .post-title p{
        font-size: 11px;
      }
      .post-category {  
        padding-top: 11px;  
        padding-bottom: 11px; 
    }
    .post-category span, .post-category i{
        font-size: 10px;
    }
    .news-area .title1{
        padding: 0 15px;
        height: 28px;
    }      
    .news-area .title1 p{
        line-height: 28px;   
    }
    .news-area .title2{
        height: 28px;
        padding: 0 15px;
    }
    .news-area .title2 p{
        line-height: 28px;   
    }
    .vticker{
        padding: 0 15px;
    }
    .vticker ul li a{
        height: 28px;
        line-height: 28px;
    }
    .flUs{
        font-size: 15px;
        font-weight: 550;
    }
}
 
/* Dành cho máy tính bảng chiều ngang */
@media all and (min-width: 1024px) {
    .divtotal{
        margin-left: 7%;
        margin-right: 7%;
        margin-top:9%;
    }
    .slideimg img{
        height: 437px;
    }
    h3.h3-carousel a{
        font-size: 22px;
    }
    h3{
        font-size: 22px;
    }
    .category-carousel{
        padding: 3px 6px;
        font-size: 11px;
        width: 113px;
        
    }
    .slideimg .time{   
        margin-left: 463px;
        margin-top: 3px;
    }
    .slideimg span{
        margin-left: 7px;
        font-size: 11px;
    }
    .slideimg i{
        margin-left: 8px;
    }
    .div5 .top10Categories h6{
        font-size: 15px;
    }
    .singlepost.another-style .post-thumb{
        width: 175px;
        flex: 0 0 175px;
    }
    h5{
        font-size: 17px;
    }
    .video img{
        height: 175px;
        width:100%
    }
    .contact h6{
        font-size: 24px;
    }
    .contact p{
        padding: 17px 0px;
    }
    .contact input, .contact input:focus{
        padding: 17px 17px;
        margin-bottom:17px;
    }
    .contact ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-size: 13px;   
      }
      
      .contact  :-ms-input-placeholder { /* Internet Explorer 10-11 */
        font-size: 13px;  
      }
      
      .contact ::-ms-input-placeholder { /* Microsoft Edge */
        font-size: 13px;  
      }
      .contact button{
          margin-top: 5px;
      }
    .post-title h6{
        font-size: 15px;
    }
    .div3{
        margin-left: 7%;
        margin-right: 7%;
    }
    .top10Categories{
        top: 15%;
    }
    .top10{
        padding-top:7%;
    }
    .post-thumb.img-300 img{
        height: 281px;
      }
      .post-thumb.img-90 img{
        height: 78px;
      }
      .post-thumb.img-200 img{
        height: 175px;
      }
      .post-thumb.img-250 img{
        height: 218px;
      }
      .post-thumb.img-200-2 img{
        height: 175px;
        width:175px;
      }
      .post-thumb.img-300-2 img{
        height: 262px;
      }
    .section-heading h6 {
        font-size: 16px;
        line-height: 45px;
         height: 45px;
        padding: 0 30px;
        font-weight: 700;
    }
    .post-title h4{
        font-size: 19px;
    }
    .post-title p{
        font-size: 13px;
    }
    .singlepost .post-thumb{
        width: 78px;
        flex: 0 0 78px;
      }
      .singlepost .post-title p{
        font-size: 12px;
      }
      .post-category {  
        padding-top: 13px;  
        padding-bottom: 13px;  
    }
    .post-category span, .post-category i{
        font-size: 11px;
    }
    .news-area .title1{
        padding: 0 17px;
        height: 33px;
    }      
    .news-area .title1 p{
        line-height: 33px;   
    }
    .news-area .title2{
        height: 33px;
        padding: 0 17px;
    }
    .news-area .title2 p{
        line-height: 33px;   
    }
    .vticker{
        padding: 0 17px;
    }
    .vticker ul li a{
        height: 33px;
        line-height: 33px;
    }
    .flUs{
        font-size: 17px;
        font-weight: 550;
    }
}
 
/* Dành cho màn hình desktop */
@media all and (min-width: 1280px) {
    .divtotal{
        margin-left: 9%;
        margin-right: 9%;
        margin-top:9%;
    }
    .slideimg img{
        height: 500px;
    }
    h3.h3-carousel a{
        font-size: 25px;
    }
    h3{
        font-size: 26px;
    }
    .category-carousel{
        padding: 3px 7px;
        font-size: 13px;
        width: 130px;
        
    }
    .slideimg .time{   
        margin-left: 530px;
        margin-top: 3px;
    }
    .slideimg span{
        margin-left: 8px;
        font-size: 13px;
    }
    .slideimg i{
        margin-left: 10px;
    }
    .div5 .top10Categories h6{ 
        font-size: 20px;
    }
    .singlepost.another-style .post-thumb{
        width: 200px;
        flex: 0 0 200px;
    }
    h5{
        font-size: 20px;
    }
    .video img{
        height: 200px;
        width:100%
    }
    .contact h6{
        font-size: 28px;
        font-weight: 600;
    }
    .contact p{
        padding: 20px 0px;
    }
    .contact input, .contact input:focus{
        padding: 20px 20px;
        margin-bottom:20px;
    }
    .contact ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-size: 15px;   
      }
      
      .contact  :-ms-input-placeholder { /* Internet Explorer 10-11 */
        font-size: 15px;  
      }
      
      .contact ::-ms-input-placeholder { /* Microsoft Edge */
        font-size: 15px;  
      }
      .contact button{
          margin-top: 5px;
      }
    .post-title h6{
        font-size: 18px;
    }
    .div3{
        margin-left: 9%;
        margin-right: 9%;
    }
    .top10Categories{
        top: 15%;
    }
    .top10{
        padding-top:8%;
    }
    .section-heading h6 {
        font-size: 16px;
        line-height: 45px;
         height: 45px;
        padding: 0 30px;
        font-weight: 700;
    }
    .post-thumb.img-300 img{
        height: 300px;
      }
      .post-thumb.img-90 img{
        height: 90px;
      }
      .post-thumb.img-200 img{
        height: 200px;
      }
      .post-thumb.img-250 img{
        height: 250px;
      }
      .post-thumb.img-200-2 img{
        height: 200px;
        width:200px;
      }
      .post-thumb.img-300-2 img{
        height: 300px;
      }
      .post-title h4{
          font-size: 22px;
      }
      .post-title p{
          font-size: 15px;
      }
      .singlepost .post-thumb{
        width: 90px;
        flex: 0 0 90px;
      }
      .singlepost .post-title p{
        font-size: 14px;
      }
      .post-category {  
        padding-top: 15px;  
        padding-bottom: 15px; 
    }
    .post-category span, .post-category i{
        font-size: 14px;
    }
    .news-area .title1{
        padding: 0 20px;
        height: 38px;
    }      
    .news-area .title1 p{
        line-height: 38px;   
    }
    .news-area .title2{
        height: 38px;
        padding: 0 20px;
    }
    .news-area .title2 p{
        line-height: 38px;   
    }
    .vticker{
        padding: 0 20px;
    }
    .vticker ul li a{
        height: 38px;
        line-height: 38px;
    }
    .flUs{
        font-size: 20px;
        font-weight: 600;
    }
}
.div5{
    margin-left: 5%;
    width: 23%;
    position: relative;
    margin-top:6%;
}
.top10Categories{
    width: 100%;
    height: auto;
    background-color: #343a40;
    position: -webkit-sticky;
    position:sticky;
}

.div5 .top10Categories h6{
    border-bottom: 1px solid #d0d5d8;
    padding: 10% 13%;
    color: #ffc107;
    font-weight: 700;
}

.div5 .top10Categories a.number{
    color: #ffc107;
    margin-left: 12%;
    font-weight: 550;
}
.div5 .top10Categories a:hover, .div5 .top10Categories a:focus{
    color: #ffc107;
    font-weight: 550;
}
.div5 .top10Categories a.cate{
    color: #fff;
    margin-left: 11%;
    font-weight: 550;
}
.div5 .top10Categories a.cate:hover, .div5 .top10Categories a.cate:focus{
    color: #ffc107;
    font-weight: 550;
}
.singlepost{
    display: flex;
    border-bottom: 1px solid #d0d5d8;
    padding: 20px 0;
}
.singlepost .post-data{
    margin-left: 5%;
}
.singlepost .post-title p{
    font-weight: 550;
    color: #343a40;
    margin-bottom: 10px;
}
.singlepost.another-style .post-title p{
    font-weight: 500;
}
.singlepost.another-style h5{
    color: #343a40;
    font-weight: 550;
}
.singlepost.another-style h5:hover, .singlepost.another-style h5:focus{
    color:#ffc107;
}
.singlepost .post-title p:hover, .post-title p:focus{
    color: #ffc107;
}
.singlepost.another-style .post-title p:hover, .post-title p:focus{
    color: #343a40;
}
.singlepost .post-category {  
    padding-top: 0px;  
    padding-bottom: 0px;  
}
.singlepost .post-thumb{
    
      
    margin-top: 0px;
}

.singlepost .post-title i{
    float:left;
}
.singlepost.another-style .post-title i{
    float:right;
}
.singlepost .post-title span{
    float: left;
    margin-bottom: 0;
}
.singlepost.another-style .post-title span{
    float: right;
}
.singlepost:first-child {
    padding-top: 0; }
  .singlepost:last-child {
    border-bottom: none; }

.owl-nav{
    display: flex;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}
.owl-nav i{
    padding: 0px 10px;
    color: #343a40;
    cursor: pointer;
}
.owl-nav i:hover{
    color: #ffc107;
}
.contact{
    margin-top: 70px;
    padding: 10% 6%;
    background-color: #343a40;
    text-align: center;
}
.contact h6{
    color: #ffc107;
    font-weight: 600;
    font-family: 'Rouge Script', cursive;
}
.contact p{
    color: #fff;
}
.contact input, .contact input:focus{
    width: 100%;
    border-radius: 0px;
    background-color: #6a747e;
    color: #fff;
    border: none;
}
.contact ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    font-style: italic;
    opacity: .5; /* Firefox */
  }
  
  .contact  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
    font-style: italic;
  }
  
  .contact ::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
    font-style: italic;
  }
  .contact button{
      font-weight: 550;
      color: #fff;
      background-color: #ffc107;
  }
  .contact button:hover, .contact button:focus{
    color: #ffc107;
    background-color: #fff;

}
.divvideo{
    padding: 7% 5%;
    display: flex;
    background-repeat: repeat-x;
    background-size: contain;
}
.divvideo1{
    width:30%;
    padding: 0% 3%;
}
.video{
    width:100%;
    overflow: hidden;
    position: relative;
}

.playvideo{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ffc107;
  color: white;
  padding: 3% 7%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.playvideo:hover{
    background-color: #343a40;
}
.videopost img{
    transition: transform .50s ease;
  }
  
  .videopost:hover img{
    transform: scale(1.1);
  }

  /* .modal-dialog {
    max-width: 800px;
    margin: 100px auto;
} */
/* 
.modal-body {
    position:relative;
    padding:0px;
} */
/* .close {
    position:absolute;
    right:-30px;
    top:0;
    font-size:2rem;
    font-weight: normal;
    color:#fff;
    opacity:1;
} */
h3{
    font-weight: 600;
    color: #343a40;
}

/* Rating star*/
.star-rating {
    width: 0;
    position: relative;
    display:inline-block;
    background-image: url('C:/Users/ad/Desktop/webgiuaky/testweb/images/star_0.svg');
    background-position: 0 0;
    background-repeat: repeat-x;
    cursor: pointer;
}

.star-rating .star-value {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url('C:/Users/ad/Desktop/webgiuaky/testweb/images/star_1.svg') ;
    background-repeat: repeat-x;
}

.star-rating.disabled {
    cursor: default;
}

.star-rating.is-busy {
    cursor: wait;
}

.star-rating .star-value.rtl {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    right: 0;
    left: auto;
}
.rating{
    top: 15%;
    position: -webkit-sticky;
    position:sticky;
}

h3.h3-carousel a{
    color: #fff;
    cursor: pointer;
    font-weight: 550;
}
h3.h3-carousel a:hover, h3.h3-carousel a:focus{
    color: #ffc107;
}
.premium{
    background-color: orangered;
    position: relative;
    text-align: center;
    
}
.premium a{
    font-weight: 550;
    font-size: 16px;
}
.category-carousel{
    background-color: #ffc107;
    position: absolute;
    text-align: center;
    
}
.category-carousel a{
    color: #fff;
    font-weight: 550;
}
.slideimg{
    position: relative;
}
.slideimg .time{   
    position: absolute;
    display:flex;
    width: 100%;
}
.slideimg span{
    color: rgb(197, 204, 211);
    float:right;
}
.slideimg i{
    color: rgb(197, 204, 211);
}

/* Login form */
:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
  }
  .card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }
  
  .card-signin .card-body {
    padding: 2rem;
  }
  
  .form-signin {
    width: 100%;
  }
  
  .form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }
  
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group input {
    height: auto;
    border-radius: 2rem;
  }
  
  .form-label-group>input,
  .form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
  }
  
  .form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  
  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-moz-placeholder {
    color: transparent;
  }
  
  .form-label-group input::placeholder {
    color: transparent;
  }
  
  .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }
  
  .form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }
  .my-5{
      margin-top: 23% !important;
  }
  .btn-google {
    color: white;
    background-color: #ea4335;
  }
  
  .btn-facebook {
    color: white;
    background-color: #3b5998;
  }
  /*----------------------------------*/

  h5.continue-read a{
      color: #343a40;
    font-weight: 550;
    margin-top: 30px;
    cursor: pointer;
  }
  h5.continue-read a:hover, h5.continue-read a:focus{
      color: #ffc107;
  }
  .like-share{
    padding: 3px 7px;
    background-color: #4267b2;
    font-size: 11px;
    text-align: center;
    float: right;
    border-radius: 7%;
    margin-top: 20px;
}
.like-share a{
    color: #fff;
    font-weight: 550;
}
.tag{
    padding: 5px 10px;
    background-color: #f0e9d3;
    font-size: 13px;
    text-align: center;
    margin-right: 20px;
}
.tag:hover, .tag:focus{
    background-color: #343a40;
}
.tag a{
    color: #343a40;
}
.tag a:hover, .tag a:focus{
    color: #fff;
}
.pb-cmnt-container {
    font-family: Lato;
    margin-top: 20px;
}

.pb-cmnt-textarea {
    resize: none;
    padding: 20px;
    height: 130px;
    width: 100%;
    border: 1px solid #F2F2F2;
}
.button1:hover, .button1:focus{
    background-color: #f0e9d3;
}

.user_avatar {
	width: 65px;
	height: 65px;

	display: inline-block;
	vertical-align: middle;
}
.user_avatar img {
		width: 100%;
		height: 100%;
		border-radius: 50%;
	}
    .new_comment {
		width: 100%;
        height: auto;
        margin-top: 20px;
		padding: 20px 0;
		border-top: 1px solid lighten(GREY, 10%);
    }
		.user_comment {
			list-style-type: none;
		}

		.comment_body {
			display: inline-block;
			vertical-align: middle;
            background-color: rgb(243, 237, 237);
			width: calc(100% - 75px);
        min-height: 65px;
			margin-left: 10px;
			padding: 5px 10px;
			font-size: .9rem;
			color: #343a40;
        }
        .comment_details {
            display: inline-block;
            width: 70%;
            text-align: left;
        }
        .comment_details ul {
            list-style-type: none;
            padding-left: 75px;
            font-size: 0;
        }
         .comment_details   li {
                display: inline-block;
                padding: 10px;
                font-size: 12px;
                color: lighten(GREY, 5%);
         }
         .comment_toolbar{
             width: 100%;
             display: inline-block;
             
         }
        .comment_tools {
            display: inline-block;
            vertical-align: middle;
            width: 30%;
            text-align: right;
        }
        .comment_tools ul {
            list-style-type: none;
            padding-left: 75px;
            font-size: 0;
        }
         .comment_tools  li {
                display: inline-block;
                padding: 5px;
                font-size: 12px;
                color: lighten(GREY, 5%);
         }
        .comment_tools li:hover{
            color: #ffc107;
            cursor: pointer; 
        }
        .love:hover{
            color:red;
        }

.tab:active, .tab:focus{
    background-color: #fff!important;
}

.custom-file-input {
    content: 'Select some files';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
  .custom-file-input:hover {
    border-color: black;
  }
  .custom-file-input:active {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }