<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/news/home">News</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navHeaderCollapse">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navHeaderCollapse">
                <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link" style="padding-top: 14px; padding-bottom: 14px;" href="/news/home">Trang chủ</a></li>
                        <li class="nav-item dropdown style1">
                            <a class="nav-link dropdown-toggle menu"  href="#">Tin xã hội</a>
                            <div class="dropdown-menu bg-dark layer2a">
                                <a class="dropdown-item text-white" href="/posts/Thể%20thao">Thể thao</a>
                                <a class="dropdown-item text-white" href="/posts/Du%20lịch">Du lịch</a>
                                <a class="dropdown-item text-white" href="/posts/Xã%20hội">Xã hội</a>
                                <a class="dropdown-item text-white" href="/posts/Khoa%20học">Khoa học</a>
                                <a class="dropdown-item text-white" href="/posts/Văn%20hóa">Văn hóa</a>
                                <a class="dropdown-item text-white" href="/posts/Giáo%20dục">Giáo dục</a>
                                <a class="dropdown-item text-white" href="/posts/Pháp%20luật">Pháp luật</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown style2">
                            <a class="nav-link dropdown-toggle menu" href="#">Giải trí</a>
                            <div class="dropdown-menu bg-dark layer2b">
                                <a class="dropdown-item text-white" href="/posts/Âm%20nhạc">Âm nhạc</a>
                                <a class="dropdown-item text-white" href="/posts/Điện%20ảnh">Điện ảnh</a>
                                <a class="dropdown-item text-white" href="/posts/Hậu%20trường">Hậu trường</a>
                                <a class="dropdown-item text-white" href="/posts/Phỏng%20vấn%20sao">Phỏng vấn sao</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown style3">
                            <a class="nav-link dropdown-toggle menu" href="#">Thời trang</a>
                            <div class="dropdown-menu bg-dark layer2c">
                                <a class="dropdown-item text-white" href="/posts/Mặc%20đẹp">Mặc đẹp</a>
                                <a class="dropdown-item text-white" href="/posts/Làm%20đẹp">Làm đẹp</a>
                                <a class="dropdown-item text-white" href="/posts/Thời%20trang%20sao">Thời trang sao</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown style4">
                            <a class="nav-link dropdown-toggle menu" href="#">Ẩm thực</a>
                            <div class="dropdown-menu bg-dark layer2d">
                                <a class="dropdown-item text-white" href="/posts/Địa%20điểm%20ăn%20uống">Địa điểm ăn uống</a>
                                <a class="dropdown-item text-white" href="/posts/Món%20ngon">Món ngon</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown style5">
                            <a class="nav-link dropdown-toggle menu" href="#">Công nghệ</a>
                            <div class="dropdown-menu bg-dark layer2e">
                                <a class="dropdown-item text-white" href="/posts/Mobile">Mobile</a>
                                <a class="dropdown-item text-white" href="/posts/AI">AI</a>
                                <a class="dropdown-item text-white" href="/posts/Smart%20home">Smart Home</a>
                            </div>
                        </li>
                    </ul>
        <div class="col-sm-3 col-sm-offset-3">
            <div class="input-group search">
                <input type="text" class="form-control" placeholder="Search">
                <div class="input-group-append">
                    <button class="btn btn-warning" type="submit"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>
        <ul class="nav nav-tabs ml-auto">
            <li><a class="nav-link" href="/user/register">Đăng ký</a></li>
            <li><a class="nav-link" href="/user/login">Đăng nhập</a></li>
        </ul>
    </div>
    </div>
</nav>